<a ui-sref="home">Home</a> &lt; <span>List</span>

<h3>Menu Categories List</h3>
<table>
  <thead>
<th>Name</th>
<th>Short Name</th>
<!-- <th>Special Instructions</th> -->
<th class="nosort"></th>
</thead>
<tbody>
<tr ng-repeat="item in categoriesList.categories" ui-sref="categories.itemDetail({categoryShortName: item.short_name})">
<td>  {{item.name}}  </td>
<td> {{ item.short_name }} </td>
<!-- <td>{{item.special_instructions}}</td> -->
</tr>
</tbody>

<!-- <ul ng-repeat="item in categoriesList.categories">
  <li >
    short name:  {{ item.short_name }}
    name: {{ item.name }}
    special instructions: {{item.special_instructions}}
  </li>
</ul> -->
</table>

<ui-view></ui-view>
